---
layout: default
title: Post Tags
permalink: /tags/
---

{% capture site_tags %}
    {% for tag in site.tags %}
        {{ tag | first }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
{% endcapture %}

<section id="tags">
    <h1>Tags in posts</h1>
    <!-- Counts tags, creates header row, displays tag counts -->
    <ul class="tags cf">
        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
            {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <li><a href="${{ this_word | cgi_escape }}" class="tag">{{ this_word }}<span>({{ site.tags[this_word].size }})</span></a></li>
        {% endunless %}{% endfor %}
    </ul>
    <!-- creates subheaders for each unique tag -->
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <h2 id ="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
        <!-- Lists all posts for tag -->
        {% for post in site.tags[this_word] %}{% if post.title != null %}
            <div class="tag_list">
                <span><a href="{{ post.url }}">{{ post.title }}</a></span>
                <small><span>{{ post.date | date_to_string }}</span></small>
            </div>
        {% endif %}{% endfor %}
    {% endunless %}{% endfor %}
    <div class="back_to_home">
        <a href="{{site.baseurl}}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back home...</a>
    </div>
</section>