
<ul class="social_footer">
    <li><a href="https://github.com/{{site.github}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://soundcloud.com/{{site.soundcloud}}"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/{{site.youtube}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{site.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
</ul>